Laboratorios/Laboratorio 2 - Informe Bases de Datos/Emotions_ECG_database/
Laboratorios/Laboratorio 2 - Informe Bases de Datos/Bioimpedance_databases/
Proyecto/Software/Datasets/Datasets_Descargados/
Proyecto/Software/Datasets/processed/
Proyecto/Software/modelamiento/mejores_modelos/models3/